body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5px;
    box-sizing: border-box;
}

.bar {
    position: relative;
    background-color: #bbe2bc;
    height: 20px;
    line-height: 20px;
}
.bar.r18 {
    background-color: #f8d7da;
}

.bar-text {
    position: absolute;
    padding-left: 3px;
    white-space: nowrap;
    overflow:visible;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 16px;
    table-layout: fixed;
}

th:nth-child(1),
td:nth-child(1) {
    width: 7%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 18%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 25%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 25%;
}

th:nth-child(5),
td:nth-child(5) {
    width: 25%;
}

th, td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

th {
    cursor: pointer;
    background-color: #f9f9f9;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

th.current-asc::after, th.current-desc::after {
    content: '';
}

th.current-asc::after {
    content: '▲';
}

th.current-desc::after {
    content: '▼';
}

td a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }
    th {
        height: 25px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 10px;
    }
    th {
        height: 20px;
    }
    .bar {
        height: 15px;
        line-height: 15px;
    }
}
